/**
 * @ Author: Hikaru
 * @ Create Time: 2022-04-23 21:10:27
 * @ Modified by: Hikaru
 * @ Modified time: 2022-07-22 02:08:00
 * @ Description: i@rua.moe
 */

.teaserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;

  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #fff;
    font-weight: 800;
    margin-bottom: 2.5rem;
    width: 100%;
    text-align: left;
    font-family: "Josefin Sans";
  }

  .content {
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-style: italic;
  }
}
