.introContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    opacity: 0.7;

    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: #fff;
        margin-bottom: 2.5rem;
    }

    .content {
        line-height: 1.625;
        font-size: 1.125rem;
        font-weight: unset;
        margin-bottom: 2rem;
        color: #fff;
    }

    .sections {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}