.introContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: #fff;
        margin-bottom: 2.5rem;
        font-family: 'Josefin Sans';
    }

    .content {
        line-height: 1.625;
        font-size: 1.1rem;
        font-weight: unset;
        margin-bottom: 2rem;
        color: #fff;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 80%;
        border: 2px solid #fff;
        padding: 2rem;
        text-align: left;
        margin-top: 2rem;
        
        .cardTitle {
            font-size: 2rem;
            font-family: 'Gideon Roman', cursive;
            font-weight: 800;
        }

        small {
            font-weight: 400;
            line-height: 2rem;
        }

        p {
            line-height: 1.5rem;
        }
    }
}

@media (max-width: 767px) {
    .introContainer {
        .card {
            width: 100%;
        }
    }
}