.firstContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 100%;
}

.countdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Black Ops One', cursive;
	font-size: 2rem;
	border: 5px solid #fff;
}

.countdownTitle {
	font-size: 1rem;
	font-weight: 900;
	font-family: 'Josefin Sans';
	background-color: #fff;
	color: #000;
	padding: 5px 15px;
	min-width: 250px;
}

.mouse {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -20px;
	z-index: 10;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	opacity: 0.5;
	transition: all 1s;
	cursor: pointer;

	.icon {
		font-size: 2rem;
		font-weight: 900;
		margin-left: auto;
		margin-right: auto;
		animation: ani_arrow 1.5s linear .3s infinite both;
	}
}

.bannerContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	border: 2px solid #fff;
	padding: 2rem;
	text-align: left;
	border-radius: 20px;
	margin-top: 3rem;
	margin-bottom: 3rem;

	.title {
		font-size: 2rem;
		font-family: 'Gideon Roman', cursive;
		font-weight: 800;
	}

	small {
		font-weight: 400;
		line-height: 2rem;
	}

	p {
		line-height: 1.5rem;
	}
}

.tellConatiner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 3rem;

	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 1.5rem;
		line-height: 2.5rem;
		font-weight: 900;
		font-family: "Josefin Sans";
	}

	.tellConatinerRow {
		width: 100%;
	}

	.zodiacList {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.zodiacItem {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
    
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
    
			.icon {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
				border: 2px solid #fff;
				font-weight: 900;
				border-radius: 10px;
				width: 2.5rem;
				height: 2.5rem;
				padding: 15px;
			}
    
			.text {
				flex: 9;
				font-size: 1rem;
				font-weight: 700;
			}
		}
	}
}

.snsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 3rem;

	.snsButtonItem {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 0.4rem;
		transition: all 0.2s;
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;

		&:hover {
			background-color: #21232d;
		}

		.snsButtonItemSvg {
			font-size: 22px;
			color: #fff;
		}

		img {
			height: 22px;
			width: 22px;
		}
	}
}

.gotoMintContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding-left: 0;
	color: rgba(255,255,255,1);
	background-color: rgba(40,39,54,1);
	height: 5rem;
	border-radius: 0.25rem;
	text-align: center;
	padding-right: 0.75rem;
	z-index: 999;
	transition: all 1s;
	box-shadow: 0 1px 1px hsl(0deg 0% 0%/.075),0 2px 2px hsl(0deg 0% 0%/.075),0 4px 4px hsl(0deg 0% 0%/.075),0 8px 8px hsl(0deg 0% 0%/.075),0 16px 16px hsl(0deg 0% 0%/.075);
	cursor: pointer;

	&:hover{
		.title {
			.titleBottom {
				.rightIcon {
					margin-left: 1.5rem;
				}
			}
		}
	}

	.astronomyIcon {
		position: absolute;
		left: 1rem;
		bottom: 0;
		width: 7rem;
		border-radius: 0.375rem;
		z-index: 100;
	}

	.title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		margin-left: 9rem;

		.titleTop {
			letter-spacing: .1em;
			opacity: .5;
			font-weight: 800;
			text-transform: uppercase;
			font-size: .65rem;
			margin-bottom: 5px;
		}

		.titleBottom {
			font-size: 1.5rem;
			line-height: 1.75rem;
			margin-bottom: unset;
			text-transform: uppercase;
			font-weight: 900;

			.rightIcon {
				transition: all 0.5s;
				margin-left: 1rem;
			}
		}
	}

	.button {
		margin-left: 2rem;
		font-size: 1rem;
		line-height: 1.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		color: rgba(38,38,38,1);
		font-weight: 900;
	}
}

@media (max-width: 767px) {
	.sections {
		flex-direction: column !important;
		margin-top: 50px !important;
		margin-bottom: 50px !important;

		.section {
			padding: 40px !important;
		}

		.sectionLeft {
			margin-bottom: unset !important;
			margin-right: unset !important;
		}

		.sectionRight {
			margin-top: unset !important;
			margin-left: unset !important;
		}
	}

	.gotoMintContainer {
		width: 85vw;

		.astronomyIcon {
			position: absolute;
			left: 0.5rem;
			bottom: 0;
			width: 6.5rem;
			border-radius: 0.375rem;
			z-index: 100;
		}
        
		.title {
			margin-left: 7rem;

			.titleTop {
				letter-spacing: .1em;
				opacity: .5;
				font-weight: 800;
				text-transform: uppercase;
				font-size: .5rem;
				margin-bottom: 5px;
			}
    
			.titleBottom {
				font-size: 1.5rem;
				line-height: 1.75rem;
				margin-bottom: unset;
				text-transform: uppercase;
				font-weight: 900;
			}
		}

		.button {
			margin-left: 1rem;
			font-size: 0.5rem;
			line-height: 1.5rem;
			padding-left: 1rem;
			padding-right: 1rem;
			color: rgba(38,38,38,1);
			font-weight: 900;
		}
	}
}

@keyframes ani_arrow {
	0% {
		transform: translateY(0);
		transform-origin: 50% 0;
		opacity: 0
	}

	25% {
		transform: translateY(8px);
		transform-origin: 50% 0;
		opacity: 1
	}

	50% {
		transform: translateY(16px);
		transform-origin: 50% 0;
		opacity: 1
	}

	75% {
		transform: translateY(24px);
		transform-origin: 50% 0;
		opacity: 1
	}

	to {
		transform: translateY(32px);
		transform-origin: 50% 0;
		opacity: 0
	}
}

.ant-modal {
	padding-bottom: unset;
}