.mainContainer {
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mainBgContainer {
    min-height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
