.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 1140px;
    width: 100%;
}

.firstContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.centerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .slogan {
        font-size: 3.1rem;
        line-height: 1;
        font-weight: 900;
        opacity: 1;
        font-family: 'Josefin Sans';

        .copy {
            font-size: 1rem;
            font-weight: 500;

            span:not(:last-child) {
                margin-right: 0.73rem;
            }
        }

        .sloganTop {
            margin: 0 0 22px;
        }

        .sloganBottom {
            margin: 0 0 16px;
        }

        .isAnimation {
            animation: blurblur 2s cubic-bezier(0.005, 0.025, 0.045, 1.015) infinite alternate;
        }
    }

    .title {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.mintCount {
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 0 10px #000;
}

.priceContainer,
.totalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .currentPrice {
        font-size: 6rem;
        font-family: 'Permanent Marker', cursive;
        margin-right: 20px;
    }

    .currentTotal {
        font-size: 1.1rem;
        margin-right: 20px;
        margin-bottom: 2rem;
    }

    .ethIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 50px;
            height: 50px;
        }

        span {
            font-size: 1.2rem;
            font-family: 'Permanent Marker', cursive;
            margin-top: 5px;
        }
    }
} 

@media (max-width: 767px) {
    .contentContainer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .slogan {
        font-size: 1.6rem !important;
        font-weight: 900;

        .copy {
            font-size: 1.5rem;
            
            span:not(:last-child) {
                margin-right: 0.23rem !important;
            }
        }
    }
}

@keyframes blurblur {
    0% {
        opacity: 0.8;
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    15% {
        opacity: 0.8;
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    85% {
        opacity: 0;
        -webkit-transform: scale(0.8) translate(0, 4px);
        transform: scale(0.8) translate(0, 4px);
        -webkit-filter: blur(5px);
        filter: blur(5px); 
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.8) translate(0, 4px);
        transform: scale(0.8) translate(0, 4px);
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}