.featureContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: #fff;
        margin-bottom: 2.5rem;
        font-family: 'Josefin Sans';
    }

    .content {
        line-height: 1.625;
        font-size: 1.125rem;
        font-weight: unset;
        margin-bottom: 2rem;
        color: #fff;
    }

    .flexContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;

        .flexItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            .personalizedCard {
                width: 80%;
                text-align: left;
                background-color: #fff;
                color: #000;
                padding: 4.8rem 2rem;

                .personalizedCardTitle {
                    font-size: 2rem;
                    font-family: 'Gideon Roman', cursive;
                    font-weight: 800;
                }

                p {
                    font-size: 2rem;
                    line-height: 3rem;
                    font-weight: 900;
                }
            }
        }

        .dataContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin-right: 40px;

            .starList {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-top: 80px;

                .starItem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    font-size: 1.4rem;
                    
                    &:not(:last-child) {
                        margin-bottom: 1.3rem;
                    }

                    .starItemIcon {
                        margin-right: 15px;
                        width: 35px;
                        overflow: hidden;
                        text-align: center;
                    }
                }
            }

            .dataList {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 2rem;

                .pieChart {
                    width: 80%;
                    margin-right: 30px;
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }

                .dataItem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    font-size: 1rem;

                    &:not(:last-child) {
                        margin-bottom: 0.6rem;
                    }
                }
            }
        }

        .astroList {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin-left: 40px;

            .astroListItem {
                position: relative;
                border: 1px solid #fff;
                padding: 1rem;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;
                margin-bottom: 15px;

                .tag {
                    position: absolute;
                    top: -14px;
                    right: -10px;
                    background-color: #fff;
                    color: #000;
                    padding: 0.3rem 1rem;
                    font-weight: 900;
                    font-size: 1rem;
                    font-family: 'Gideon Roman', cursive;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 60%;
                    text-align: left;

                    .astroListItemTitle {
                        font-size: 1.3rem;
                        font-family: 'Gideon Roman', cursive;
                        font-weight: 800;
                        text-align: left;
                        width: 100%;
                    }

                    .astroListItemContent {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 1rem;

                        .astroListItemContentItem {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            span {
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .arrow {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .sections {
        flex-direction: column !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;

        .section {
            padding: 40px !important;
        }

        .sectionLeft {
            margin-bottom: unset !important;
            margin-right: unset !important;
        }

        .sectionRight {
            margin-top: unset !important;
            margin-left: unset !important;
        }
    }

    .flexContainer {
        flex-direction: column !important;

        .dataContainer {
            margin-top: 20px !important;
            width: 100% !important;
            margin-right: unset !important;
        }

        .pieChart {
            width: 180% !important;
            margin-right: 15px !important;
        }

        .flexItem,
        .astroList {
            width: 100% !important;
            margin-left: unset !important;

            .card,
            .personalizedCard {
                width: 100% !important;
            }
        }
    }
}