.featureContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: #fff;
        margin-bottom: 2.5rem;
        font-family: 'Josefin Sans';
    }

    .content {
        line-height: 1.625;
        font-size: 1.125rem;
        font-weight: unset;
        margin-bottom: 2rem;
        color: #fff;
    }

    .moonContainerCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .starList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-left: 10rem;

        .starItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-size: 1.3rem;
            
            &:not(:last-child) {
                margin-bottom: 1.3rem;
            }

            .starItemIcon {
                margin-right: 15px;
                width: 35px;
                overflow: hidden;
                text-align: center;
            }
        }
    }

    .demoImage {
        width: 80%;
    }

    .zodiacContainer {
        margin-top: 8rem;
        margin-bottom: 8rem;

        .subtitle {
            text-align: left;
            font-size: 1.5rem;
            width: 100%;
            font-family: 'Josefin Sans';
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .adamContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 8rem;
        margin-bottom: 8rem;

        .subtitle {
            text-align: left;
            font-size: 1.5rem;
            width: 100%;
            font-family: 'Josefin Sans';
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .flexContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .dataContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;

            .leftArrow {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                position: absolute;
                top: 250px;
                left: 0;
                width: 100%;
                height: 8px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                text-align: left;
                font-size: 2rem;

                .icon {
                    margin-left: -25px;
                }
            }

            .rightArrow {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                position: absolute;
                top: 250px;
                right: 0;
                width: 100%;
                height: 8px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                text-align: right;
                font-size: 2rem;

                .icon {
                    margin-right: -25px;
                }
            }

            .dataList {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 70%;
                margin-top: 1rem;
                margin-bottom: 1rem;
                border: 1px solid #fff;
                padding-top: 2rem;
                padding-bottom: 2rem;
                padding-left: 2rem;
                padding-right: 2rem;

                .dataTitle {
                    position: absolute;
                    top: -14px;
                    left: -10px;
                    background-color: #fff;
                    color: #000;
                    padding: 0.3rem 1rem;
                    font-weight: 900;
                    font-size: 1rem;
                    font-family: 'Gideon Roman', cursive;
                }
        
                .dataItem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    font-size: 1rem;
                    
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
        
                    .dataItemIcon {
                        margin-right: 15px;
                        width: 35px;
                        overflow: hidden;
                        text-align: center;
                    }
                }
            }

            .pieChart {
                width: 80%;
                height: 100%;
                margin-left: 40px;
                margin-right: 40px;
            }

            .models {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin-top: 1rem;
                margin-bottom: 1rem;

                .humanName,
                .metaName {
                    color: #fff;
                    padding: 0.3rem 1rem;
                    font-size: 0.8rem;
                }

                .icon {
                    font-size: 2rem;
                }

                .human {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                }

                .line {
                    height: 30px;
                    width: 2px;
                    background-color: #fff;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }

                .circle {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    background: url('/images/background/moon.svg');
                    background-size: cover;
                    background-position: center;
                    color: #fff;
                    font-weight: 900;
                    overflow: hidden;

                    .text {
                        z-index: 2;
                    }

                    .mask {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        background-color: rgba(0,0,0,0.2);
                    }
                }

                .meta {
                    width: 80px;
                    margin-bottom: 1rem;

                    .metaCharacter {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .astroList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        margin-top: 6rem;

        .subtitle {
            text-align: left;
            font-size: 1.5rem;
            width: 100%;
            font-family: 'Josefin Sans';
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 2rem;
        }

        .astroListItem {
            position: relative;
            border: 1px solid #fff;
            padding: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            margin-bottom: 15px;

            .tag {
                position: absolute;
                top: -14px;
                right: -10px;
                background-color: #fff;
                color: #000;
                padding: 0.3rem 1rem;
                font-weight: 900;
                font-size: 1rem;
                font-family: 'Gideon Roman', cursive;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 60%;
                text-align: left;

                .astroListItemTitle {
                    font-size: 1.3rem;
                    font-family: 'Gideon Roman', cursive;
                    font-weight: 800;
                    text-align: left;
                    width: 100%;
                }

                .astroListItemContent {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 1rem;

                    .astroListItemContentItem {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .arrow {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .sections {
        flex-direction: column !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;

        .section {
            padding: 40px !important;
        }

        .sectionLeft {
            margin-bottom: unset !important;
            margin-right: unset !important;
        }

        .sectionRight {
            margin-top: unset !important;
            margin-left: unset !important;
        }
    }

    .flexContainer {
        flex-direction: column !important;

        .dataContainer {
            margin-top: 20px !important;
            width: 100% !important;
            margin-right: unset !important;

            .leftArrow,
            .rightArrow {
                display: none !important;
            }
        }

        .dataList {
            flex-direction: column !important;
            width: 100% !important;

            .data {
                margin-right: unset !important;
                width: 70% !important;
            }
        }

        .pieChart {
            width: 100% !important;
            min-height: 200px !important;
            margin-left: unset !important;
            margin-right: unset !important;
        }

        .flexItem,
        .astroList {
            width: 100% !important;
            margin-left: unset !important;

            .card,
            .personalizedCard {
                width: 100% !important;
            }
        }
    }

    .models {
        margin-bottom: 6rem !important;
    }
    
    .starList {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .zodiacContainer {
        .subtitle {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }

    .subtitle {
        font-size: 1.5rem !important;
        padding-left: unset !important;
        padding-right: unset !important;
    }
}